.gridcontainer{
    display:grid;
    grid-template-columns: 33% auto auto;
}
#Stuff{
    grid-column:1/4;
    grid-row-start:2;
}
#HeroS{
    grid-column:1/4;
    grid-row-start:1;
}
img{
    max-width:100%;
    max-height:auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
}
li:hover{
    color: blue;
}


